In [7]:
import pandas as pd
pd.set_option('display.max_rows',110)

In [2]:
def calculate_error(Forecast,Real):
    error = ((Forecast-Real)/Real)*100
    return error

In [5]:
path = "tongsdata/energyBalance/"
energyBalanceFilename = "Energy_Balance_2018_12_23.csv"

In [8]:
rawdata=pd.read_csv(path + energyBalanceFilename, delimiter=";")
rawdata

,,Direct consumption / Mean values [W],Battery discharging / Mean values [W],External energy supply / Mean values [W],Total consumption / Mean values [W],Grid feed-in / Mean values [W],Direct consumption / Mean values [W],Battery charging / Mean values [W],PV power generation / Mean values [W],Target value / Mean values [W],Output value / Mean values [W]
0,"=""00:00""",,,,,,,,,300,"3,000"
1,"=""00:15""",,1,"1,839",NaN,0,NaN,0,NaN,,
2,"=""00:30""",,0,"1,658",NaN,0,NaN,0,NaN,,
3,"=""00:45""",,1,"1,805",NaN,0,NaN,0,NaN,,
4,"=""01:00""",,2,"1,670",NaN,0,NaN,0,NaN,,
5,"=""01:15""",,0,"1,509",NaN,0,NaN,0,NaN,,
6,"=""01:30""",,0,"1,429",NaN,0,NaN,0,NaN,,
7,"=""01:45""",,0,"1,806",NaN,0,NaN,0,NaN,,
8,"=""02:00""",,2,"1,673",NaN,0,NaN,0,NaN,,
9,"=""02:15""",,0,"1,429",NaN,0,NaN,1,NaN,,
10,"=""02:30""",,0,"1,514",NaN,0,NaN,0,NaN,,
11,"=""02:45""",,0,"1,339",NaN,0,NaN,1,NaN,,
12,"=""03:00""",,0,"1,204",NaN,0,NaN,1,NaN,,
13,"=""03:15""",,0,"1,434",NaN,0,NaN,1,NaN,,
14,"=""03:30""",,1,"1,231",NaN,0,NaN,0,NaN,,
15,"=""03:45""",,0,"1,216",NaN,0,NaN,2,NaN,,
16,"=""04:00""",,0,"1,407",NaN,0,NaN,0,NaN,,
17,"=""04:15""",,1,"1,386",NaN,0,NaN,0,NaN,,
18,"=""04:30""",,0,"1,237",NaN,0,NaN,0,NaN,,
19,"=""04:45""",,0,"1,246",NaN,0,NaN,1,NaN,,
20,"=""05:00""",,0,"1,544",NaN,0,NaN,0,NaN,,
21,"=""05:15""",,0,"2,082",NaN,0,NaN,0,NaN,,
22,"=""05:30""",,1,"3,095",NaN,0,NaN,0,NaN,,
23,"=""05:45""",,0,"1,432",NaN,0,NaN,1,NaN,,
24,"=""06:00""",0,1,"1,358","1,358",0,0,0,NaN,,
25,"=""06:15""",0,0,"1,117","1,114",0,0,3,NaN,,
26,"=""06:30""",0,0,"1,737","1,737",0,0,0,NaN,,
27,"=""06:45""",0,0,"1,138","1,137",0,0,2,NaN,,
28,"=""07:00""",2,0,"1,415","1,417",0,2,1,3,,
29,"=""07:15""",74,0,"1,090","1,164",0,74,0,74,,
30,"=""07:30""",148,0,"1,031","1,179",0,148,0,148,,
31,"=""07:45""",267,0,"2,198","2,465",0,267,0,267,,
32,"=""08:00""",374,0,"1,330","1,704",0,374,0,374,,
33,"=""08:15""",484,0,732,"1,216",0,484,1,485,,
34,"=""08:30""",782,0,350,"1,132",0,782,3,784,,
35,"=""08:45""",869,0,121,990,21,869,31,921,,
36,"=""09:00""",928,0,38,965,31,928,212,"1,170",,
37,"=""09:15""",923,0,650,"1,573",28,923,117,"1,068",,
38,"=""09:30""",892,0,135,"1,027",22,892,11,924,,
39,"=""09:45""",897,0,62,959,40,897,126,"1,063",,
40,"=""10:00""",767,0,194,961,16,767,27,809,,
41,"=""10:15""",885,0,36,921,27,885,338,"1,249",,
42,"=""10:25""",,,,,,,,,,"2,730"
43,"=""10:30""","1,511",0,727,"2,238",45,"1,511",163,"1,719",,
44,"=""10:30""",,,,,,,,,,"3,000"
45,"=""10:45""","1,130",0,181,"1,310",27,"1,130",267,"1,424",,
46,"=""11:00""","1,002",0,40,"1,042",37,"1,002","1,001","2,039",,
47,"=""11:15""","1,061",0,94,"1,154",100,"1,061","1,168","2,328",,
48,"=""11:30""","1,603",0,48,"1,651",44,"1,603",155,"1,802",,
49,"=""11:45""","1,109",0,55,"1,163",49,"1,109",693,"1,850",,
50,"=""12:00""",973,0,57,"1,030",55,973,877,"1,906",,
51,"=""12:15""","1,190",0,44,"1,234",46,"1,190",624,"1,860",,
52,"=""12:30""","1,209",0,46,"1,255",40,"1,209",665,"1,914",,
53,"=""12:45""","1,337",0,82,"1,419",83,"1,337",441,"1,861",,
54,"=""12:45""",,,,,,,,,,"1,740"
55,"=""12:50""",,,,,,,,,,240
56,"=""12:55""",,,,,,,,,,"3,000"
57,"=""13:00""","1,402",0,87,"1,489",83,"1,402",351,"1,835",,
58,"=""13:15""","2,296",37,39,"2,372",36,"2,296",0,"2,332",,
59,"=""13:20""",,,,,,,,,,"2,370"
60,"=""13:25""",,,,,,,,,,"3,000"
61,"=""13:30""","2,182",228,32,"2,442",33,"2,182",0,"2,215",,
62,"=""13:35""",,,,,,,,,,"1,890"
63,"=""13:40""",,,,,,,,,,"3,000"
64,"=""13:45""","2,119",43,24,"2,186",20,"2,119",0,"2,138",,
65,"=""14:00""","1,992",99,34,"2,125",30,"1,992",0,"2,022",,
66,"=""14:15""","1,811",359,30,"2,200",27,"1,811",0,"1,838",,
67,"=""14:25""",,,,,,,,,,"2,820"
68,"=""14:30""","1,442","1,135",76,"2,653",79,"1,442",0,"1,521",,
69,"=""14:30""",,,,,,,,,,"3,000"
70,"=""14:45""","1,346","1,059",52,"2,457",36,"1,346",0,"1,382",,
71,"=""15:00""","1,063",137,"1,552","2,752",6,"1,063",0,"1,069",,
72,"=""15:15""","1,066",0,"1,571","2,638",0,"1,066",1,"1,067",,
73,"=""15:30""","1,010",1,442,"1,453",12,"1,010",0,"1,022",,
74,"=""15:45""",893,1,563,"1,457",7,893,0,900,,
75,"=""16:00""",636,0,969,"1,605",0,636,3,639,,
76,"=""16:15""",522,0,955,"1,477",0,522,0,522,,
77,"=""16:30""",351,0,"1,016","1,367",0,351,2,353,,
78,"=""16:45""",301,0,"1,481","1,782",0,301,0,301,,
79,"=""17:00""",210,0,"1,985","2,196",0,210,0,210,,
80,"=""17:15""",142,0,"3,149","3,291",0,142,3,144,,
81,"=""17:30""",105,0,"3,646","3,751",0,105,1,106,,
82,"=""17:45""",43,0,"3,279","3,322",0,43,0,43,,
83,"=""18:00""",4,1,"3,512","3,517",0,4,0,4,,
84,"=""18:15""",0,0,"3,843","3,843",0,0,1,NaN,,
85,"=""18:30""",0,0,"3,696","3,585",0,0,1,NaN,,
86,"=""18:45""",0,1,"3,402","3,402",0,0,0,NaN,,
87,"=""19:00""",0,0,"3,026","3,097",0,0,2,NaN,,
88,"=""19:15""",,0,"3,510",NaN,0,NaN,1,NaN,,
89,"=""19:30""",,1,"3,916",NaN,0,NaN,0,NaN,,
90,"=""19:45""",,0,"3,372",NaN,0,NaN,2,NaN,,
91,"=""20:00""",,0,"2,875",NaN,0,NaN,0,NaN,,
92,"=""20:15""",,0,"2,638",NaN,0,NaN,1,NaN,,
93,"=""20:30""",,0,"2,579",NaN,0,NaN,1,NaN,,
94,"=""20:45""",,0,"2,248",NaN,0,NaN,1,NaN,,
95,"=""21:00""",,3,"2,140",NaN,0,NaN,0,NaN,,
96,"=""21:15""",,0,"2,347",NaN,0,NaN,2,NaN,,
97,"=""21:30""",,1,"2,093",NaN,0,NaN,0,NaN,,
98,"=""21:45""",,0,"1,976",NaN,0,NaN,1,NaN,,
99,"=""22:00""",,0,"1,969",NaN,0,NaN,2,NaN,,
100,"=""22:15""",,1,"1,962",NaN,0,NaN,0,NaN,,
101,"=""22:30""",,1,"1,816",NaN,0,NaN,0,NaN,,
102,"=""22:45""",,1,"1,617",NaN,0,NaN,0,NaN,,
103,"=""23:00""",,0,"1,834",NaN,0,NaN,1,NaN,,
104,"=""23:15""",,0,"1,679",NaN,0,NaN,1,NaN,,
105,"=""23:30""",,0,"1,525",NaN,0,NaN,0,NaN,,
106,"=""23:45""",,0,"1,613",NaN,0,NaN,0,NaN,,
107,"=""00:00""",,0,"1,700",NaN,0,NaN,0,NaN,300,"3,000"

In [15]:
rawdata=pd.read_csv(path + energyBalanceFilename, delimiter=";" )
deleteindex=rawdata.loc[rawdata.loc[pd.IndexSlice[:,'Battery discharging / Mean values [W] ']]==' '].index
rawdata.drop(deleteindex,inplace=True)
rawdata.rename(columns={' ':'Time'},inplace=True)
rawdata['Time']=rawdata['Time'].str.replace('[^\d]','')
rawdata['Time']="2018"+"12"+"23"+rawdata['Time']
rawdata['Time']=pd.to_datetime(rawdata.Time)
rawdata.set_index('Time', inplace=True)
for i in rawdata.columns:
    if i != 'Direct consumption / Mean values [W] ' and i != 'Battery discharging / Mean values [W] ' and i!='External energy supply / Mean values [W] ' and i != 'PV power generation / Mean values [W]  ':
        rawdata.drop([i],axis=1,inplace=True)
for i in rawdata.columns:
    rawdata[i].fillna('0',inplace=True)
    rawdata[i]=rawdata[i].apply(lambda x: x.replace(' ', '0'))
    rawdata[i]=rawdata[i].str.replace('\D','').astype(int)
rawdata['Consumption']=rawdata['Direct consumption / Mean values [W] ']+rawdata['Battery discharging / Mean values [W] ']+rawdata['External energy supply / Mean values [W] ']
rawdata.rename(columns={'PV power generation / Mean values [W]  ':'Generation'},inplace=True)
rawdata.drop(['Direct consumption / Mean values [W] ', 'Battery discharging / Mean values [W] ','External energy supply / Mean values [W] '],axis=1,inplace=True)
rawdata

                     Generation  Consumption
Time
2018-12-23 00:15:00           0         1840
2018-12-23 00:30:00           0         1658
2018-12-23 00:45:00           0         1806
2018-12-23 01:00:00           0         1672
2018-12-23 01:15:00           0         1509
2018-12-23 01:30:00           0         1429
2018-12-23 01:45:00           0         1806
2018-12-23 02:00:00           0         1675
2018-12-23 02:15:00           0         1429
2018-12-23 02:30:00           0         1514
2018-12-23 02:45:00           0         1339
2018-12-23 03:00:00           0         1204
2018-12-23 03:15:00           0         1434
2018-12-23 03:30:00           0         1232
2018-12-23 03:45:00           0         1216
2018-12-23 04:00:00           0         1407
2018-12-23 04:15:00           0         1387
2018-12-23 04:30:00           0         1237
2018-12-23 04:45:00           0         1246
2018-12-23 05:00:00           0         1544
2018-12-23 05:15:00           0         2082
2018-12-23 05:30:00           0         3096
2018-12-23 05:45:00           0         1432
2018-12-23 06:00:00           0         1359
2018-12-23 06:15:00           0         1117
2018-12-23 06:30:00           0         1737
2018-12-23 06:45:00           0         1138
2018-12-23 07:00:00           3         1417
2018-12-23 07:15:00          74         1164
2018-12-23 07:30:00         148         1179
2018-12-23 07:45:00         267         2465
2018-12-23 08:00:00         374         1704
2018-12-23 08:15:00         485         1216
2018-12-23 08:30:00         784         1132
2018-12-23 08:45:00         921          990
2018-12-23 09:00:00        1170          966
2018-12-23 09:15:00        1068         1573
2018-12-23 09:30:00         924         1027
2018-12-23 09:45:00        1063          959
2018-12-23 10:00:00         809          961
2018-12-23 10:15:00        1249          921
2018-12-23 10:30:00        1719         2238
2018-12-23 10:45:00        1424         1311
2018-12-23 11:00:00        2039         1042
2018-12-23 11:15:00        2328         1155
2018-12-23 11:30:00        1802         1651
2018-12-23 11:45:00        1850         1164
2018-12-23 12:00:00        1906         1030
2018-12-23 12:15:00        1860         1234
2018-12-23 12:30:00        1914         1255
2018-12-23 12:45:00        1861         1419
2018-12-23 13:00:00        1835         1489
2018-12-23 13:15:00        2332         2372
2018-12-23 13:30:00        2215         2442
2018-12-23 13:45:00        2138         2186
2018-12-23 14:00:00        2022         2125
2018-12-23 14:15:00        1838         2200
2018-12-23 14:30:00        1521         2653
2018-12-23 14:45:00        1382         2457
2018-12-23 15:00:00        1069         2752
2018-12-23 15:15:00        1067         2637
2018-12-23 15:30:00        1022         1453
2018-12-23 15:45:00         900         1457
2018-12-23 16:00:00         639         1605
2018-12-23 16:15:00         522         1477
2018-12-23 16:30:00         353         1367
2018-12-23 16:45:00         301         1782
2018-12-23 17:00:00         210         2195
2018-12-23 17:15:00         144         3291
2018-12-23 17:30:00         106         3751
2018-12-23 17:45:00          43         3322
2018-12-23 18:00:00           4         3517
2018-12-23 18:15:00           0         3843
2018-12-23 18:30:00           0         3696
2018-12-23 18:45:00           0         3403
2018-12-23 19:00:00           0         3026
2018-12-23 19:15:00           0         3510
2018-12-23 19:30:00           0         3917
2018-12-23 19:45:00           0         3372
2018-12-23 20:00:00           0         2875
2018-12-23 20:15:00           0         2638
2018-12-23 20:30:00           0         2579
2018-12-23 20:45:00           0         2248
2018-12-23 21:00:00           0         2143
2018-12-23 21:15:00           0         2347
2018-12-23 21:30:00           0         2094
2018-12-23 21:45:00           0         1976
2018-12-23 22:00:00           0         1969
2018-12-23 22:15:00           0         1963
2018-12-23 22:30:00           0         1817
2018-12-23 22:45:00           0         1618
2018-12-23 23:00:00           0         1834
2018-12-23 23:15:00           0         1679
2018-12-23 23:30:00           0         1525
2018-12-23 23:45:00           0         1613
2018-12-23 00:00:00           0         1700

In [17]:
rawdata.count()

Generation     96
Consumption    96
dtype: int64

In [8]:
Gen_error  = calculate_error(check['ForecastGen'],check['Generation'])
Load_error = calculate_error(check['ForecastCon'],check['Consumption'])

NameError: name 'check' is not defined

In [34]:
rawdata=rawdata.reset_index()
rawdata

                  Time  Generation  Consumption
0  2018-12-23 00:15:00           0         1840
1  2018-12-23 00:30:00           0         1658
2  2018-12-23 00:45:00           0         1806
3  2018-12-23 01:00:00           0         1672
4  2018-12-23 01:15:00           0         1509
5  2018-12-23 01:30:00           0         1429
6  2018-12-23 01:45:00           0         1806
7  2018-12-23 02:00:00           0         1675
8  2018-12-23 02:15:00           0         1429
9  2018-12-23 02:30:00           0         1514
10 2018-12-23 02:45:00           0         1339
11 2018-12-23 03:00:00           0         1204
12 2018-12-23 03:15:00           0         1434
13 2018-12-23 03:30:00           0         1232
14 2018-12-23 03:45:00           0         1216
15 2018-12-23 04:00:00           0         1407
16 2018-12-23 04:15:00           0         1387
17 2018-12-23 04:30:00           0         1237
18 2018-12-23 04:45:00           0         1246
19 2018-12-23 05:00:00           0         1544
20 2018-12-23 05:15:00           0         2082
21 2018-12-23 05:30:00           0         3096
22 2018-12-23 05:45:00           0         1432
23 2018-12-23 06:00:00           0         1359
24 2018-12-23 06:15:00           0         1117
25 2018-12-23 06:30:00           0         1737
26 2018-12-23 06:45:00           0         1138
27 2018-12-23 07:00:00           3         1417
28 2018-12-23 07:15:00          74         1164
29 2018-12-23 07:30:00         148         1179
30 2018-12-23 07:45:00         267         2465
31 2018-12-23 08:00:00         374         1704
32 2018-12-23 08:15:00         485         1216
33 2018-12-23 08:30:00         784         1132
34 2018-12-23 08:45:00         921          990
35 2018-12-23 09:00:00        1170          966
36 2018-12-23 09:15:00        1068         1573
37 2018-12-23 09:30:00         924         1027
38 2018-12-23 09:45:00        1063          959
39 2018-12-23 10:00:00         809          961
40 2018-12-23 10:15:00        1249          921
41 2018-12-23 10:30:00        1719         2238
42 2018-12-23 10:45:00        1424         1311
43 2018-12-23 11:00:00        2039         1042
44 2018-12-23 11:15:00        2328         1155
45 2018-12-23 11:30:00        1802         1651
46 2018-12-23 11:45:00        1850         1164
47 2018-12-23 12:00:00        1906         1030
48 2018-12-23 12:15:00        1860         1234
49 2018-12-23 12:30:00        1914         1255
50 2018-12-23 12:45:00        1861         1419
51 2018-12-23 13:00:00        1835         1489
52 2018-12-23 13:15:00        2332         2372
53 2018-12-23 13:30:00        2215         2442
54 2018-12-23 13:45:00        2138         2186
55 2018-12-23 14:00:00        2022         2125
56 2018-12-23 14:15:00        1838         2200
57 2018-12-23 14:30:00        1521         2653
58 2018-12-23 14:45:00        1382         2457
59 2018-12-23 15:00:00        1069         2752
60 2018-12-23 15:15:00        1067         2637
61 2018-12-23 15:30:00        1022         1453
62 2018-12-23 15:45:00         900         1457
63 2018-12-23 16:00:00         639         1605
64 2018-12-23 16:15:00         522         1477
65 2018-12-23 16:30:00         353         1367
66 2018-12-23 16:45:00         301         1782
67 2018-12-23 17:00:00         210         2195
68 2018-12-23 17:15:00         144         3291
69 2018-12-23 17:30:00         106         3751
70 2018-12-23 17:45:00          43         3322
71 2018-12-23 18:00:00           4         3517
72 2018-12-23 18:15:00           0         3843
73 2018-12-23 18:30:00           0         3696
74 2018-12-23 18:45:00           0         3403
75 2018-12-23 19:00:00           0         3026
76 2018-12-23 19:15:00           0         3510
77 2018-12-23 19:30:00           0         3917
78 2018-12-23 19:45:00           0         3372
79 2018-12-23 20:00:00           0         2875
80 2018-12-23 20:15:00           0         2638
81 2018-12-23 20:30:00           0         2579
82 2018-12-23 20:45:00           0         2248
83 2018-12-23 21:00:00           0         2143
84 2018-12-23 21:15:00           0         2347
85 2018-12-23 21:30:00           0         2094
86 2018-12-23 21:45:00           0         1976
87 2018-12-23 22:00:00           0         1969
88 2018-12-23 22:15:00           0         1963
89 2018-12-23 22:30:00           0         1817
90 2018-12-23 22:45:00           0         1618
91 2018-12-23 23:00:00           0         1834
92 2018-12-23 23:15:00           0         1679
93 2018-12-23 23:30:00           0         1525
94 2018-12-23 23:45:00           0         1613
95 2018-12-23 00:00:00           0         1700

In [52]:
rawdata["Gen_error"]=0
rawdata["Load_error"]=0
#rawdata = rawdata.drop(rawdata.columns[[3,4]], axis=1)
rawdata

                  Time  Generation  Consumption  Gen_error  Load_error
0  2018-12-23 00:15:00           0         1840          0           0
1  2018-12-23 00:30:00           0         1658          0           0
2  2018-12-23 00:45:00           0         1806          0           0
3  2018-12-23 01:00:00           0         1672          0           0
4  2018-12-23 01:15:00           0         1509          0           0
5  2018-12-23 01:30:00           0         1429          0           0
6  2018-12-23 01:45:00           0         1806          0           0
7  2018-12-23 02:00:00           0         1675          0           0
8  2018-12-23 02:15:00           0         1429          0           0
9  2018-12-23 02:30:00           0         1514          0           0
10 2018-12-23 02:45:00           0         1339          0           0
11 2018-12-23 03:00:00           0         1204          0           0
12 2018-12-23 03:15:00           0         1434          0           0
13 2018-12-23 03:30:00           0         1232          0           0
14 2018-12-23 03:45:00           0         1216          0           0
15 2018-12-23 04:00:00           0         1407          0           0
16 2018-12-23 04:15:00           0         1387          0           0
17 2018-12-23 04:30:00           0         1237          0           0
18 2018-12-23 04:45:00           0         1246          0           0
19 2018-12-23 05:00:00           0         1544          0           0
20 2018-12-23 05:15:00           0         2082          0           0
21 2018-12-23 05:30:00           0         3096          0           0
22 2018-12-23 05:45:00           0         1432          0           0
23 2018-12-23 06:00:00           0         1359          0           0
24 2018-12-23 06:15:00           0         1117          0           0
25 2018-12-23 06:30:00           0         1737          0           0
26 2018-12-23 06:45:00           0         1138          0           0
27 2018-12-23 07:00:00           3         1417          0           0
28 2018-12-23 07:15:00          74         1164          0           0
29 2018-12-23 07:30:00         148         1179          0           0
30 2018-12-23 07:45:00         267         2465          0           0
31 2018-12-23 08:00:00         374         1704          0           0
32 2018-12-23 08:15:00         485         1216          0           0
33 2018-12-23 08:30:00         784         1132          0           0
34 2018-12-23 08:45:00         921          990          0           0
35 2018-12-23 09:00:00        1170          966          0           0
36 2018-12-23 09:15:00        1068         1573          0           0
37 2018-12-23 09:30:00         924         1027          0           0
38 2018-12-23 09:45:00        1063          959          0           0
39 2018-12-23 10:00:00         809          961          0           0
40 2018-12-23 10:15:00        1249          921          0           0
41 2018-12-23 10:30:00        1719         2238          0           0
42 2018-12-23 10:45:00        1424         1311          0           0
43 2018-12-23 11:00:00        2039         1042          0           0
44 2018-12-23 11:15:00        2328         1155          0           0
45 2018-12-23 11:30:00        1802         1651          0           0
46 2018-12-23 11:45:00        1850         1164          0           0
47 2018-12-23 12:00:00        1906         1030          0           0
48 2018-12-23 12:15:00        1860         1234          0           0
49 2018-12-23 12:30:00        1914         1255          0           0
50 2018-12-23 12:45:00        1861         1419          0           0
51 2018-12-23 13:00:00        1835         1489          0           0
52 2018-12-23 13:15:00        2332         2372          0           0
53 2018-12-23 13:30:00        2215         2442          0           0
54 2018-12-23 13:45:00        2138         2186          0           0
55 2018-12-23 14:00:00        2022         2125          0           0
56 2018-12-23 14:15:00        1838         2200          0           0
57 2018-12-23 14:30:00        1521         2653          0           0
58 2018-12-23 14:45:00        1382         2457          0           0
59 2018-12-23 15:00:00        1069         2752          0           0
60 2018-12-23 15:15:00        1067         2637          0           0
61 2018-12-23 15:30:00        1022         1453          0           0
62 2018-12-23 15:45:00         900         1457          0           0
63 2018-12-23 16:00:00         639         1605          0           0
64 2018-12-23 16:15:00         522         1477          0           0
65 2018-12-23 16:30:00         353         1367          0           0
66 2018-12-23 16:45:00         301         1782          0           0
67 2018-12-23 17:00:00         210         2195          0           0
68 2018-12-23 17:15:00         144         3291          0           0
69 2018-12-23 17:30:00         106         3751          0           0
70 2018-12-23 17:45:00          43         3322          0           0
71 2018-12-23 18:00:00           4         3517          0           0
72 2018-12-23 18:15:00           0         3843          0           0
73 2018-12-23 18:30:00           0         3696          0           0
74 2018-12-23 18:45:00           0         3403          0           0
75 2018-12-23 19:00:00           0         3026          0           0
76 2018-12-23 19:15:00           0         3510          0           0
77 2018-12-23 19:30:00           0         3917          0           0
78 2018-12-23 19:45:00           0         3372          0           0
79 2018-12-23 20:00:00           0         2875          0           0
80 2018-12-23 20:15:00           0         2638          0           0
81 2018-12-23 20:30:00           0         2579          0           0
82 2018-12-23 20:45:00           0         2248          0           0
83 2018-12-23 21:00:00           0         2143          0           0
84 2018-12-23 21:15:00           0         2347          0           0
85 2018-12-23 21:30:00           0         2094          0           0
86 2018-12-23 21:45:00           0         1976          0           0
87 2018-12-23 22:00:00           0         1969          0           0
88 2018-12-23 22:15:00           0         1963          0           0
89 2018-12-23 22:30:00           0         1817          0           0
90 2018-12-23 22:45:00           0         1618          0           0
91 2018-12-23 23:00:00           0         1834          0           0
92 2018-12-23 23:15:00           0         1679          0           0
93 2018-12-23 23:30:00           0         1525          0           0
94 2018-12-23 23:45:00           0         1613          0           0
95 2018-12-23 00:00:00           0         1700          0           0

In [54]:
abs(rawdata.loc[0,"Consumption"])

1840

In [ ]:
for i in rawdata.index:
    if abs(rawdata.loc[i,"Gen_error"]) < 50 and abs(rawdata.loc[i,"Load_error"]) < 50:
        pass
    elif abs(rawdata.loc[i,"Gen_error"]) > 50 and abs(rawdata.loc[i,"Load_error"]) < 50:
        if rawdata.loc[i,"Gen_error"] > 0:
            rawdata.loc[i,"Contactor"] = 1
        else:
            rawdata.loc[i,"Contactor"] = 0
    elif abs(rawdata.loc[i,"Gen_error"]) < 50 and abs(rawdata.loc[i,"Load_error"]) > 50:
        if rawdata.loc[i,"Load_error"] > 0:
            rawdata.loc[i,"Contactor"] = 0
        else:
            rawdata.loc[i,"Contactor"] = 1
    elif abs(rawdata.loc[i,"Gen_error"]) > 50 and abs(rawdata.loc[i,"Load_error"]) > 50:
        if rawdata.loc[i,"Gen_error"] > 0 and rawdata.loc[i,"Load_error"] > 0:
            pass
        elif rawdata.loc[i,"Gen_error"] > 0 and rawdata.loc[i,"Load_error"] < 0:
            rawdata.loc[i,"Contactor"] = 1
        elif rawdata.loc[i,"Gen_error"] < 0 and rawdata.loc[i,"Load_error"] > 0:
            rawdata.loc[i,"Contactor"] = 0
        elif rawdata.loc[i,"Gen_error"] < 0 and rawdata.loc[i,"Load_error"] > 0:
            rawdata.loc[i,"Contactor"] = 1

In [9]:
for i in rawdata.index:    
    if abs(Gen_error) < 50 and abs(Load_error) < 50:
        pass
    elif abs(Gen_error) > 50 and abs(Load_error) < 50:
        if Gen_error > 0:
            rawdata.loc[i,"Contactor"] = 1
        else:
            opened circuit
    elif abs(Gen_error) < 50 and abs(Load_error) > 50:
        if Load_error > 0:
            opened circuit
        else:
            closed circuit
    elif abs(Gen_error) > 50 and abs(Load_error) > 50:
        if Gen_error > 0 and Load_error > 0:
            pass
        elif Gen_error > 0 and Load_error < 0:
            closed
        elif Gen_error < 0 and Load_error > 0:
            opened
        elif Gen_error < 0 and Load_error > 0:
            closed

SyntaxError: invalid syntax (<ipython-input-9-9e07f77dc7f7>, line 5)