In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\User\Desktop\Data\Energy_Balance_2018_11_01.csv", sep=';' , usecols=[0,8])
df

              PV power generation / Mean values [W]
0    ="00:00"
1    ="00:15"                                     NaN
2    ="00:30"                                     NaN
3    ="00:45"                                     NaN
4    ="01:00"                                     NaN
5    ="01:15"                                     NaN
6    ="01:30"                                     NaN
7    ="01:45"                                     NaN
8    ="02:00"                                     NaN
9    ="02:15"                                     NaN
10   ="02:30"                                     NaN
11   ="02:45"                                     NaN
12   ="03:00"                                     NaN
13   ="03:15"                                     NaN
14   ="03:30"                                     NaN
15   ="03:45"                                     NaN
16   ="04:00"                                     NaN
17   ="04:15"                                     NaN
18   ="04:30"                                     NaN
19   ="04:45"                                     NaN
20   ="05:00"                                     NaN
21   ="05:15"                                     NaN
22   ="05:30"                                     NaN
23   ="05:45"                                     NaN
24   ="06:00"                                     NaN
25   ="06:15"                                     NaN
26   ="06:30"                                       2
27   ="06:45"                                      62
28   ="07:00"                                     156
29   ="07:15"                                     301
..        ...                                     ...
127  ="16:53"
128  ="17:00"                                     151
129  ="17:15"                                     106
130  ="17:30"                                      63
131  ="17:45"                                      31
132  ="18:00"                                       3
133  ="18:15"                                     NaN
134  ="18:30"                                     NaN
135  ="18:45"                                     NaN
136  ="19:00"                                     NaN
137  ="19:15"                                     NaN
138  ="19:30"                                     NaN
139  ="19:45"                                     NaN
140  ="20:00"                                     NaN
141  ="20:15"                                     NaN
142  ="20:30"                                     NaN
143  ="20:45"                                     NaN
144  ="21:00"                                     NaN
145  ="21:15"                                     NaN
146  ="21:30"                                     NaN
147  ="21:45"                                     NaN
148  ="22:00"                                     NaN
149  ="22:15"                                     NaN
150  ="22:30"                                     NaN
151  ="22:45"                                     NaN
152  ="23:00"                                     NaN
153  ="23:15"                                     NaN
154  ="23:30"                                     NaN
155  ="23:45"                                     NaN
156  ="00:00"                                     NaN

[157 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 2 columns):
                                           157 non-null object
PV power generation / Mean values [W]      108 non-null object
dtypes: object(2)
memory usage: 2.5+ KB

In [4]:
df['PV power generation / Mean values [W]  '].replace(' ', np.nan, inplace=True)

In [8]:
modifieddf = df.dropna()

In [9]:
modifieddf.to_csv('modifiedEnergy.csv',index=False)